                 * {
                     list-style: none;
                     padding: 0;
                     margin: 0;
                     box-sizing: border-box;
                 }




                 /*Page d'acceuil*/

                 header {

                     max-width: 90%;

                     height: auto;

                     padding: 1px 2px 1px 2px;

                     border: 5px;

                     margin: 20px 0 20px 0;

                 }

                 #logo {

                     width: 300px;

                     height: auto;

                     padding: 1px 2px 1px 2px;

                     border: 5px;

                     margin: 2px 0 2px 0;

                     top: 60px;

                     position: relative;

                 }

                 div {

                     font-size: 20pt;

                     top: 20px;

                     left: 850px;

                     position: relative
                 }

                 nav {

                     width: 1820px;

                     height: auto;

                     padding: 10px 0 10px 10;

                     border: 5px solid black;

                     margin: 10px 0 3px 0;

                     background-color: black;


                 }

                 .nava {

                     color: aliceblue;

                 }

                 .lia ul {

                     display: flex;

                 }

                 .lia a {
                     display: block;

                     text-transform: uppercase;

                     font-weight: bold;

                     text-decoration: none;

                     min-width: 100px;

                 }

                 #promo {

                     width: 1820px;

                     height: auto;

                     padding: 1px 2px 1px 2px;

                     border: 5px;

                     margin: 2px 0 2px 0;


                 }

                

                #menu {
                    display: flex;

                }

                #menu h1 {
                    width: 100vh;
                }

                article {
                    width: 70%;
                }

                #aside {

                   background: #d2d2d2;
                    width: 30%;
                }

                 h1 {

                     font-size: 30pt;
                     line-height: 3em;
                 }

                 h2 {

                     font-size: 17pt;
                 }

                 p {

                     line-height: 3em;
                 }

                 .lib ul {

                     display: flex;
                     

                 }

                 .lib a {
                     display: block;

                     text-transform: uppercase;

                     font-weight: bold;

                     text-decoration: none;

                     min-width: 190px;

                 }





                 /*Page Tableau*/


                 #menu {

                    display: flex;
                 }

                 menu h1{
                    width: 100vh;
                }


                 table {

                
                    width: 100px;
                    height: auto;
                    padding: 0px 0px 0px 0px;
                    border: 5px solid black;
                    margin: 80px 0 2px 0;
                    position: relative;
                    right: 962px;


                    
                    }

                    
                 

                 tr, img {

                    width: 100px;
                    height: auto;
                    padding: 0px 0px 0px 0px;
                    border: 5px solid black;
                    margin: 80px 0 2px 0;
                    position: relative;
                 }

                th, td {

                    border: solid;
                 }

                 img {

                    border: none;
                 }

                 #asidez {

                    background: #d2d2d2;
                     width:20%;
                     
                 }

                 



                 

                



                 /* Page Contact */

                 #contact {

                     width: 100px;

                     height: auto;

                     padding: 1px 2px 1px 2px;

                     border: 0px;

                     margin: 2px 0 2px 0;

                     position: relative;

                     bottom: 40px;

                     left: 15px;

                     text-shadow: 3px 1px 2px #8B0000;


                 }


                 form {
                     width: none;

                     height: auto;

                     padding: 10px 20px 10px 20px;

                     border: 5px solid black;

                     margin: 20px 0 20px 0;

                     position: relative;

                     right: 845px;

                     top: 25px;

                     box-shadow: 3px 1px 5px #8B0000;

                 }

                 #envoyer:hover {

                     color: #2E8B57;

                 }

                 #annuler:hover {

                     color: red;
                 }


                 #asideb {
                     background: #d2d2d2;
                     width: 30%;
                     height: auto;
                     position: relative;
                     right: 18px;

                 }




                 
                 


                 
                   
                 

                    

                 


                 



