* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    display: flex;
}

fieldset{
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 100px;
    padding: 10px 0 10px 0;
    border: 100px;
    margin: 40px 0px 10px 0px;
}

legend{
    font-size: 22pt;
    position: relative;
    right: 80px;
}

span{
    color: red;
    position: relative;
    left: 50px;
}


p{
    font-size: 18pt;
    color: brown;
    position: relative;
    right: 80px;
    padding: 10px 0 40px 0;
}



label{
    font-size: 15pt;
    display: inline-block;
    font-weight: bold;
    padding: 30px 0px 20px 80px;
    width: 250px;

}

select{
    width: 150px;
    height: auto;
    position: relative;
    right: 625px;
}

.sub{
    width: 150px;
    height: 30px;
    position: relative;
    left: 500px;
    top: 50px;
    font-size: 14pt;
}


input{
    height: auto;
    width: 300px;
    height: 30px;
    position: relative;
    left: 45px;
}

#adresse{
    position: relative;
    left: 45px;
}

#fora{
    position: relative;
    bottom: 55px;
}



#projet{
    position: relative;
    right: 115px;
}

#choix{
    position: relative;
    right: 180px;
    top: 60px;
    height: 40px;
    font-size: 14pt;
}





